<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.e3mall.mapper.TbProductParamMapper" >
  <resultMap id="BaseResultMap" type="cn.e3mall.pojo.TbProductParam" >
    <id column="ID" property="id" jdbcType="BIGINT" />
    <result column="PRODUCT_ID" property="productId" jdbcType="BIGINT" />
    <result column="CREATED" property="created" jdbcType="TIMESTAMP" />
    <result column="UPDATED" property="updated" jdbcType="TIMESTAMP" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="cn.e3mall.pojo.TbProductParam" extends="BaseResultMap" >
    <result column="PRODUCT_PARAM_DATA" property="productParamData" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ID, PRODUCT_ID, CREATED, UPDATED
  </sql>
  <sql id="Blob_Column_List" >
    PRODUCT_PARAM_DATA
  </sql>
  <select id="selectByExampleWithBLOBs" resultMap="ResultMapWithBLOBs" parameterType="cn.e3mall.pojo.TbProductParamExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from tb_product_param
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="cn.e3mall.pojo.TbProductParamExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tb_product_param
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from tb_product_param
    where ID = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from tb_product_param
    where ID = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="cn.e3mall.pojo.TbProductParamExample" >
    delete from tb_product_param
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="cn.e3mall.pojo.TbProductParam" >
    insert into tb_product_param (ID, PRODUCT_ID, CREATED, 
      UPDATED, PRODUCT_PARAM_DATA)
    values (#{id,jdbcType=BIGINT}, #{productId,jdbcType=BIGINT}, #{created,jdbcType=TIMESTAMP}, 
      #{updated,jdbcType=TIMESTAMP}, #{productParamData,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="cn.e3mall.pojo.TbProductParam" >
    insert into tb_product_param
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="productId != null" >
        PRODUCT_ID,
      </if>
      <if test="created != null" >
        CREATED,
      </if>
      <if test="updated != null" >
        UPDATED,
      </if>
      <if test="productParamData != null" >
        PRODUCT_PARAM_DATA,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="productId != null" >
        #{productId,jdbcType=BIGINT},
      </if>
      <if test="created != null" >
        #{created,jdbcType=TIMESTAMP},
      </if>
      <if test="updated != null" >
        #{updated,jdbcType=TIMESTAMP},
      </if>
      <if test="productParamData != null" >
        #{productParamData,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="cn.e3mall.pojo.TbProductParamExample" resultType="java.lang.Integer" >
    select count(*) from tb_product_param
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update tb_product_param
    <set >
      <if test="record.id != null" >
        ID = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.productId != null" >
        PRODUCT_ID = #{record.productId,jdbcType=BIGINT},
      </if>
      <if test="record.created != null" >
        CREATED = #{record.created,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updated != null" >
        UPDATED = #{record.updated,jdbcType=TIMESTAMP},
      </if>
      <if test="record.productParamData != null" >
        PRODUCT_PARAM_DATA = #{record.productParamData,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map" >
    update tb_product_param
    set ID = #{record.id,jdbcType=BIGINT},
      PRODUCT_ID = #{record.productId,jdbcType=BIGINT},
      CREATED = #{record.created,jdbcType=TIMESTAMP},
      UPDATED = #{record.updated,jdbcType=TIMESTAMP},
      PRODUCT_PARAM_DATA = #{record.productParamData,jdbcType=LONGVARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update tb_product_param
    set ID = #{record.id,jdbcType=BIGINT},
      PRODUCT_ID = #{record.productId,jdbcType=BIGINT},
      CREATED = #{record.created,jdbcType=TIMESTAMP},
      UPDATED = #{record.updated,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="cn.e3mall.pojo.TbProductParam" >
    update tb_product_param
    <set >
      <if test="productId != null" >
        PRODUCT_ID = #{productId,jdbcType=BIGINT},
      </if>
      <if test="created != null" >
        CREATED = #{created,jdbcType=TIMESTAMP},
      </if>
      <if test="updated != null" >
        UPDATED = #{updated,jdbcType=TIMESTAMP},
      </if>
      <if test="productParamData != null" >
        PRODUCT_PARAM_DATA = #{productParamData,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="cn.e3mall.pojo.TbProductParam" >
    update tb_product_param
    set PRODUCT_ID = #{productId,jdbcType=BIGINT},
      CREATED = #{created,jdbcType=TIMESTAMP},
      UPDATED = #{updated,jdbcType=TIMESTAMP},
      PRODUCT_PARAM_DATA = #{productParamData,jdbcType=LONGVARCHAR}
    where ID = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.e3mall.pojo.TbProductParam" >
    update tb_product_param
    set PRODUCT_ID = #{productId,jdbcType=BIGINT},
      CREATED = #{created,jdbcType=TIMESTAMP},
      UPDATED = #{updated,jdbcType=TIMESTAMP}
    where ID = #{id,jdbcType=BIGINT}
  </update>
</mapper>