<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.e3mall.mapper.TbGoodsMapper" >
  <resultMap id="BaseResultMap" type="cn.e3mall.pojo.TbGoods" >
    <id column="GOODS_ID" property="goodsId" jdbcType="BIGINT" />
    <result column="PROD_ID" property="prodId" jdbcType="BIGINT" />
    <result column="GOODS_NAME" property="goodsName" jdbcType="VARCHAR" />
    <result column="COST_PRICE" property="costPrice" jdbcType="DECIMAL" />
    <result column="SELL_PRICE" property="sellPrice" jdbcType="DECIMAL" />
    <result column="STATUS" property="status" jdbcType="CHAR" />
    <result column="COLOR" property="color" jdbcType="VARCHAR" />
    <result column="VERSION" property="version" jdbcType="VARCHAR" />
    <result column="STOCK_WARNING" property="stockWarning" jdbcType="DECIMAL" />
    <result column="IS_DELETE" property="isDelete" jdbcType="CHAR" />
    <result column="ADD_USER_ID" property="addUserId" jdbcType="BIGINT" />
    <result column="ADD_TIME" property="addTime" jdbcType="TIMESTAMP" />
    <result column="MOD_USER_ID" property="modUserId" jdbcType="BIGINT" />
    <result column="MOD_TIME" property="modTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    GOODS_ID, PROD_ID, GOODS_NAME, COST_PRICE, SELL_PRICE, STATUS, COLOR, VERSION, STOCK_WARNING, 
    IS_DELETE, ADD_USER_ID, ADD_TIME, MOD_USER_ID, MOD_TIME
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="cn.e3mall.pojo.TbGoodsExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tb_goods
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from tb_goods
    where GOODS_ID = #{goodsId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from tb_goods
    where GOODS_ID = #{goodsId,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="cn.e3mall.pojo.TbGoodsExample" >
    delete from tb_goods
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="cn.e3mall.pojo.TbGoods" >
    insert into tb_goods (GOODS_ID, PROD_ID, GOODS_NAME, 
      COST_PRICE, SELL_PRICE, STATUS, 
      COLOR, VERSION, STOCK_WARNING, 
      IS_DELETE, ADD_USER_ID, ADD_TIME, 
      MOD_USER_ID, MOD_TIME)
    values (#{goodsId,jdbcType=BIGINT}, #{prodId,jdbcType=BIGINT}, #{goodsName,jdbcType=VARCHAR}, 
      #{costPrice,jdbcType=DECIMAL}, #{sellPrice,jdbcType=DECIMAL}, #{status,jdbcType=CHAR}, 
      #{color,jdbcType=VARCHAR}, #{version,jdbcType=VARCHAR}, #{stockWarning,jdbcType=DECIMAL}, 
      #{isDelete,jdbcType=CHAR}, #{addUserId,jdbcType=BIGINT}, #{addTime,jdbcType=TIMESTAMP}, 
      #{modUserId,jdbcType=BIGINT}, #{modTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="cn.e3mall.pojo.TbGoods" >
    insert into tb_goods
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="goodsId != null" >
        GOODS_ID,
      </if>
      <if test="prodId != null" >
        PROD_ID,
      </if>
      <if test="goodsName != null" >
        GOODS_NAME,
      </if>
      <if test="costPrice != null" >
        COST_PRICE,
      </if>
      <if test="sellPrice != null" >
        SELL_PRICE,
      </if>
      <if test="status != null" >
        STATUS,
      </if>
      <if test="color != null" >
        COLOR,
      </if>
      <if test="version != null" >
        VERSION,
      </if>
      <if test="stockWarning != null" >
        STOCK_WARNING,
      </if>
      <if test="isDelete != null" >
        IS_DELETE,
      </if>
      <if test="addUserId != null" >
        ADD_USER_ID,
      </if>
      <if test="addTime != null" >
        ADD_TIME,
      </if>
      <if test="modUserId != null" >
        MOD_USER_ID,
      </if>
      <if test="modTime != null" >
        MOD_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="goodsId != null" >
        #{goodsId,jdbcType=BIGINT},
      </if>
      <if test="prodId != null" >
        #{prodId,jdbcType=BIGINT},
      </if>
      <if test="goodsName != null" >
        #{goodsName,jdbcType=VARCHAR},
      </if>
      <if test="costPrice != null" >
        #{costPrice,jdbcType=DECIMAL},
      </if>
      <if test="sellPrice != null" >
        #{sellPrice,jdbcType=DECIMAL},
      </if>
      <if test="status != null" >
        #{status,jdbcType=CHAR},
      </if>
      <if test="color != null" >
        #{color,jdbcType=VARCHAR},
      </if>
      <if test="version != null" >
        #{version,jdbcType=VARCHAR},
      </if>
      <if test="stockWarning != null" >
        #{stockWarning,jdbcType=DECIMAL},
      </if>
      <if test="isDelete != null" >
        #{isDelete,jdbcType=CHAR},
      </if>
      <if test="addUserId != null" >
        #{addUserId,jdbcType=BIGINT},
      </if>
      <if test="addTime != null" >
        #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modUserId != null" >
        #{modUserId,jdbcType=BIGINT},
      </if>
      <if test="modTime != null" >
        #{modTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="cn.e3mall.pojo.TbGoodsExample" resultType="java.lang.Integer" >
    select count(*) from tb_goods
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update tb_goods
    <set >
      <if test="record.goodsId != null" >
        GOODS_ID = #{record.goodsId,jdbcType=BIGINT},
      </if>
      <if test="record.prodId != null" >
        PROD_ID = #{record.prodId,jdbcType=BIGINT},
      </if>
      <if test="record.goodsName != null" >
        GOODS_NAME = #{record.goodsName,jdbcType=VARCHAR},
      </if>
      <if test="record.costPrice != null" >
        COST_PRICE = #{record.costPrice,jdbcType=DECIMAL},
      </if>
      <if test="record.sellPrice != null" >
        SELL_PRICE = #{record.sellPrice,jdbcType=DECIMAL},
      </if>
      <if test="record.status != null" >
        STATUS = #{record.status,jdbcType=CHAR},
      </if>
      <if test="record.color != null" >
        COLOR = #{record.color,jdbcType=VARCHAR},
      </if>
      <if test="record.version != null" >
        VERSION = #{record.version,jdbcType=VARCHAR},
      </if>
      <if test="record.stockWarning != null" >
        STOCK_WARNING = #{record.stockWarning,jdbcType=DECIMAL},
      </if>
      <if test="record.isDelete != null" >
        IS_DELETE = #{record.isDelete,jdbcType=CHAR},
      </if>
      <if test="record.addUserId != null" >
        ADD_USER_ID = #{record.addUserId,jdbcType=BIGINT},
      </if>
      <if test="record.addTime != null" >
        ADD_TIME = #{record.addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.modUserId != null" >
        MOD_USER_ID = #{record.modUserId,jdbcType=BIGINT},
      </if>
      <if test="record.modTime != null" >
        MOD_TIME = #{record.modTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update tb_goods
    set GOODS_ID = #{record.goodsId,jdbcType=BIGINT},
      PROD_ID = #{record.prodId,jdbcType=BIGINT},
      GOODS_NAME = #{record.goodsName,jdbcType=VARCHAR},
      COST_PRICE = #{record.costPrice,jdbcType=DECIMAL},
      SELL_PRICE = #{record.sellPrice,jdbcType=DECIMAL},
      STATUS = #{record.status,jdbcType=CHAR},
      COLOR = #{record.color,jdbcType=VARCHAR},
      VERSION = #{record.version,jdbcType=VARCHAR},
      STOCK_WARNING = #{record.stockWarning,jdbcType=DECIMAL},
      IS_DELETE = #{record.isDelete,jdbcType=CHAR},
      ADD_USER_ID = #{record.addUserId,jdbcType=BIGINT},
      ADD_TIME = #{record.addTime,jdbcType=TIMESTAMP},
      MOD_USER_ID = #{record.modUserId,jdbcType=BIGINT},
      MOD_TIME = #{record.modTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="cn.e3mall.pojo.TbGoods" >
    update tb_goods
    <set >
      <if test="prodId != null" >
        PROD_ID = #{prodId,jdbcType=BIGINT},
      </if>
      <if test="goodsName != null" >
        GOODS_NAME = #{goodsName,jdbcType=VARCHAR},
      </if>
      <if test="costPrice != null" >
        COST_PRICE = #{costPrice,jdbcType=DECIMAL},
      </if>
      <if test="sellPrice != null" >
        SELL_PRICE = #{sellPrice,jdbcType=DECIMAL},
      </if>
      <if test="status != null" >
        STATUS = #{status,jdbcType=CHAR},
      </if>
      <if test="color != null" >
        COLOR = #{color,jdbcType=VARCHAR},
      </if>
      <if test="version != null" >
        VERSION = #{version,jdbcType=VARCHAR},
      </if>
      <if test="stockWarning != null" >
        STOCK_WARNING = #{stockWarning,jdbcType=DECIMAL},
      </if>
      <if test="isDelete != null" >
        IS_DELETE = #{isDelete,jdbcType=CHAR},
      </if>
      <if test="addUserId != null" >
        ADD_USER_ID = #{addUserId,jdbcType=BIGINT},
      </if>
      <if test="addTime != null" >
        ADD_TIME = #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modUserId != null" >
        MOD_USER_ID = #{modUserId,jdbcType=BIGINT},
      </if>
      <if test="modTime != null" >
        MOD_TIME = #{modTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where GOODS_ID = #{goodsId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.e3mall.pojo.TbGoods" >
    update tb_goods
    set PROD_ID = #{prodId,jdbcType=BIGINT},
      GOODS_NAME = #{goodsName,jdbcType=VARCHAR},
      COST_PRICE = #{costPrice,jdbcType=DECIMAL},
      SELL_PRICE = #{sellPrice,jdbcType=DECIMAL},
      STATUS = #{status,jdbcType=CHAR},
      COLOR = #{color,jdbcType=VARCHAR},
      VERSION = #{version,jdbcType=VARCHAR},
      STOCK_WARNING = #{stockWarning,jdbcType=DECIMAL},
      IS_DELETE = #{isDelete,jdbcType=CHAR},
      ADD_USER_ID = #{addUserId,jdbcType=BIGINT},
      ADD_TIME = #{addTime,jdbcType=TIMESTAMP},
      MOD_USER_ID = #{modUserId,jdbcType=BIGINT},
      MOD_TIME = #{modTime,jdbcType=TIMESTAMP}
    where GOODS_ID = #{goodsId,jdbcType=BIGINT}
  </update>
</mapper>