<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.e3mall.mapper.TbPropertyMapper" >
  <resultMap id="BaseResultMap" type="cn.e3mall.pojo.TbProperty" >
    <id column="PROP_ID" property="propId" jdbcType="BIGINT" />
    <result column="PROP_NAME" property="propName" jdbcType="VARCHAR" />
    <result column="INPUT_TYPE" property="inputType" jdbcType="CHAR" />
    <result column="SORT" property="sort" jdbcType="INTEGER" />
    <result column="IS_NULLABLE" property="isNullable" jdbcType="CHAR" />
    <result column="PROP_GROUP" property="propGroup" jdbcType="VARCHAR" />
    <result column="PROP_GROUP_SORT" property="propGroupSort" jdbcType="INTEGER" />
    <result column="IS_DELETE" property="isDelete" jdbcType="CHAR" />
    <result column="ADD_USER" property="addUser" jdbcType="BIGINT" />
    <result column="ADD_TIME" property="addTime" jdbcType="TIMESTAMP" />
    <result column="MOD_USER" property="modUser" jdbcType="BIGINT" />
    <result column="MOD_TIME" property="modTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    PROP_ID, PROP_NAME, INPUT_TYPE, SORT, IS_NULLABLE, PROP_GROUP, PROP_GROUP_SORT, IS_DELETE, 
    ADD_USER, ADD_TIME, MOD_USER, MOD_TIME
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="cn.e3mall.pojo.TbPropertyExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tb_property
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from tb_property
    where PROP_ID = #{propId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from tb_property
    where PROP_ID = #{propId,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="cn.e3mall.pojo.TbPropertyExample" >
    delete from tb_property
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="cn.e3mall.pojo.TbProperty" >
    insert into tb_property (PROP_ID, PROP_NAME, INPUT_TYPE, 
      SORT, IS_NULLABLE, PROP_GROUP, 
      PROP_GROUP_SORT, IS_DELETE, ADD_USER, 
      ADD_TIME, MOD_USER, MOD_TIME
      )
    values (#{propId,jdbcType=BIGINT}, #{propName,jdbcType=VARCHAR}, #{inputType,jdbcType=CHAR}, 
      #{sort,jdbcType=INTEGER}, #{isNullable,jdbcType=CHAR}, #{propGroup,jdbcType=VARCHAR}, 
      #{propGroupSort,jdbcType=INTEGER}, #{isDelete,jdbcType=CHAR}, #{addUser,jdbcType=BIGINT}, 
      #{addTime,jdbcType=TIMESTAMP}, #{modUser,jdbcType=BIGINT}, #{modTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="cn.e3mall.pojo.TbProperty" >
    insert into tb_property
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="propId != null" >
        PROP_ID,
      </if>
      <if test="propName != null" >
        PROP_NAME,
      </if>
      <if test="inputType != null" >
        INPUT_TYPE,
      </if>
      <if test="sort != null" >
        SORT,
      </if>
      <if test="isNullable != null" >
        IS_NULLABLE,
      </if>
      <if test="propGroup != null" >
        PROP_GROUP,
      </if>
      <if test="propGroupSort != null" >
        PROP_GROUP_SORT,
      </if>
      <if test="isDelete != null" >
        IS_DELETE,
      </if>
      <if test="addUser != null" >
        ADD_USER,
      </if>
      <if test="addTime != null" >
        ADD_TIME,
      </if>
      <if test="modUser != null" >
        MOD_USER,
      </if>
      <if test="modTime != null" >
        MOD_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="propId != null" >
        #{propId,jdbcType=BIGINT},
      </if>
      <if test="propName != null" >
        #{propName,jdbcType=VARCHAR},
      </if>
      <if test="inputType != null" >
        #{inputType,jdbcType=CHAR},
      </if>
      <if test="sort != null" >
        #{sort,jdbcType=INTEGER},
      </if>
      <if test="isNullable != null" >
        #{isNullable,jdbcType=CHAR},
      </if>
      <if test="propGroup != null" >
        #{propGroup,jdbcType=VARCHAR},
      </if>
      <if test="propGroupSort != null" >
        #{propGroupSort,jdbcType=INTEGER},
      </if>
      <if test="isDelete != null" >
        #{isDelete,jdbcType=CHAR},
      </if>
      <if test="addUser != null" >
        #{addUser,jdbcType=BIGINT},
      </if>
      <if test="addTime != null" >
        #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modUser != null" >
        #{modUser,jdbcType=BIGINT},
      </if>
      <if test="modTime != null" >
        #{modTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="cn.e3mall.pojo.TbPropertyExample" resultType="java.lang.Integer" >
    select count(*) from tb_property
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update tb_property
    <set >
      <if test="record.propId != null" >
        PROP_ID = #{record.propId,jdbcType=BIGINT},
      </if>
      <if test="record.propName != null" >
        PROP_NAME = #{record.propName,jdbcType=VARCHAR},
      </if>
      <if test="record.inputType != null" >
        INPUT_TYPE = #{record.inputType,jdbcType=CHAR},
      </if>
      <if test="record.sort != null" >
        SORT = #{record.sort,jdbcType=INTEGER},
      </if>
      <if test="record.isNullable != null" >
        IS_NULLABLE = #{record.isNullable,jdbcType=CHAR},
      </if>
      <if test="record.propGroup != null" >
        PROP_GROUP = #{record.propGroup,jdbcType=VARCHAR},
      </if>
      <if test="record.propGroupSort != null" >
        PROP_GROUP_SORT = #{record.propGroupSort,jdbcType=INTEGER},
      </if>
      <if test="record.isDelete != null" >
        IS_DELETE = #{record.isDelete,jdbcType=CHAR},
      </if>
      <if test="record.addUser != null" >
        ADD_USER = #{record.addUser,jdbcType=BIGINT},
      </if>
      <if test="record.addTime != null" >
        ADD_TIME = #{record.addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.modUser != null" >
        MOD_USER = #{record.modUser,jdbcType=BIGINT},
      </if>
      <if test="record.modTime != null" >
        MOD_TIME = #{record.modTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update tb_property
    set PROP_ID = #{record.propId,jdbcType=BIGINT},
      PROP_NAME = #{record.propName,jdbcType=VARCHAR},
      INPUT_TYPE = #{record.inputType,jdbcType=CHAR},
      SORT = #{record.sort,jdbcType=INTEGER},
      IS_NULLABLE = #{record.isNullable,jdbcType=CHAR},
      PROP_GROUP = #{record.propGroup,jdbcType=VARCHAR},
      PROP_GROUP_SORT = #{record.propGroupSort,jdbcType=INTEGER},
      IS_DELETE = #{record.isDelete,jdbcType=CHAR},
      ADD_USER = #{record.addUser,jdbcType=BIGINT},
      ADD_TIME = #{record.addTime,jdbcType=TIMESTAMP},
      MOD_USER = #{record.modUser,jdbcType=BIGINT},
      MOD_TIME = #{record.modTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="cn.e3mall.pojo.TbProperty" >
    update tb_property
    <set >
      <if test="propName != null" >
        PROP_NAME = #{propName,jdbcType=VARCHAR},
      </if>
      <if test="inputType != null" >
        INPUT_TYPE = #{inputType,jdbcType=CHAR},
      </if>
      <if test="sort != null" >
        SORT = #{sort,jdbcType=INTEGER},
      </if>
      <if test="isNullable != null" >
        IS_NULLABLE = #{isNullable,jdbcType=CHAR},
      </if>
      <if test="propGroup != null" >
        PROP_GROUP = #{propGroup,jdbcType=VARCHAR},
      </if>
      <if test="propGroupSort != null" >
        PROP_GROUP_SORT = #{propGroupSort,jdbcType=INTEGER},
      </if>
      <if test="isDelete != null" >
        IS_DELETE = #{isDelete,jdbcType=CHAR},
      </if>
      <if test="addUser != null" >
        ADD_USER = #{addUser,jdbcType=BIGINT},
      </if>
      <if test="addTime != null" >
        ADD_TIME = #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modUser != null" >
        MOD_USER = #{modUser,jdbcType=BIGINT},
      </if>
      <if test="modTime != null" >
        MOD_TIME = #{modTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where PROP_ID = #{propId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.e3mall.pojo.TbProperty" >
    update tb_property
    set PROP_NAME = #{propName,jdbcType=VARCHAR},
      INPUT_TYPE = #{inputType,jdbcType=CHAR},
      SORT = #{sort,jdbcType=INTEGER},
      IS_NULLABLE = #{isNullable,jdbcType=CHAR},
      PROP_GROUP = #{propGroup,jdbcType=VARCHAR},
      PROP_GROUP_SORT = #{propGroupSort,jdbcType=INTEGER},
      IS_DELETE = #{isDelete,jdbcType=CHAR},
      ADD_USER = #{addUser,jdbcType=BIGINT},
      ADD_TIME = #{addTime,jdbcType=TIMESTAMP},
      MOD_USER = #{modUser,jdbcType=BIGINT},
      MOD_TIME = #{modTime,jdbcType=TIMESTAMP}
    where PROP_ID = #{propId,jdbcType=BIGINT}
  </update>
</mapper>